.skills-card {
    margin: 0 3vw;
    width: 12vw;
    text-align: center;
    
    .MuiAvatar-root {
        left: 50%;
        transform: translate(-50%);
    }

    i {
        font-size: xx-large;
    }

    h3 {
        margin-bottom: 2vh;
    }
}