.project-card {
    margin: .1rem 0;
    text-align: center;

    .card-background {
        filter: blur(5px);
        
    }   
    
    &:hover {
        .card-background {
            filter: blur(0px);
        }
    }

    a {
        text-decoration: none; 
        color: black; 
    }
}