.about {
    background-color: rgba(147, 166, 201, 255);

    .directional-section {

        background-color: rgba(147, 166, 201, 255);

        .avatar-image {
            margin-left: 25%;
            border-radius: 50%;
            height: 20rem;
            width: 20rem;
        }

        .btn {
            margin: 0 .1rem;
        }
        
    }
}