.about {
    background-color: rgba(147, 166, 201, 255);

    .directional-section {

        background-color: rgba(147, 166, 201, 255);

        .avatar-image {
            margin-left: 25%;
            border-radius: 15%;
            height: 22rem;
            width: 22rem;
        }

        .about-text {

            .about-text-title {
                svg {
                    font-size: 1.8rem;
                    margin-right: 10px;
                }
    
                align-items: center;
                display: flex;
                flex-direction: row;
            }

            .about-text-body {
                padding-left: 2rem;
            }
        }

        .btn {
            margin: 0 .1rem;
        }
        
    }
}