.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  align-items: center;

  .app-body {
    justify-content: center;
    width: 75%;
  }
}

.line-in-middle {
  background: linear-gradient(to right, 
                              transparent 0%, 
                              transparent calc(50% - 0.81px), 
                              black calc(50% - 0.8px), 
                              black calc(50% + 0.8px), 
                              transparent calc(50% + 0.81px), 
                              transparent 100%); 
}
