.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  .app-body {
    width: 75%;
  }

  .section {
    margin-bottom: 5rem;
  }
}

.line-in-middle {
  background: linear-gradient(to right, 
                              transparent 0%, 
                              transparent calc(50% - 0.81px), 
                              black calc(50% - 0.8px), 
                              black calc(50% + 0.8px), 
                              transparent calc(50% + 0.81px), 
                              transparent 100%); 
}
